@font-face {
    font-family: 'Graphik';
    src: url('../public/assets/font/Graphik-Regular-Trial.otf');
}
@font-face {
    font-family: 'GraphikMedium';
    src: url('../public/assets/font/GraphikMedium.otf');
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #b4b4cf;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #b4b4cf;
}
* {
    font-family: 'Graphik', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
